<%- include('../partials/header.ejs')%>
<h1>Create Your Own Account</h1>
<form action = '/users/new' method = 'POST' class="new-form">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" required autocomplete="off">

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" required autocomplete="off">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required autocomplete="off">

    <label for="content">Password</label>
    <input type="password" id="password" name="password" required autocomplete="off">
    
    <input type="submit" value="Sign Up">   
</form>
</div>
<%- include('../partials/footer.ejs')%>